<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1>Add New Assignment</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <form name="assignmentForm" id="assignmentForm" novalidate="novalidate"
                        (ngSubmit)="createAssignment()">
                        <div class="control-group">
                            <input type="text" class="form-control border-0 p-4" id="title" placeholder="Title"
                                required="required" [(ngModel)]="assignmentData.title" name="title" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="datetime-local" class="form-control border-0 p-4" id="start_date"
                                placeholder="Start Date" required="required" [(ngModel)]="assignmentData.start_date"
                                name="start_date" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="datetime-local" class="form-control border-0 p-4" id="end_date"
                                placeholder="End Date" required="required" [(ngModel)]="assignmentData.end_date"
                                name="end_date" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="url" class="form-control border-0 p-4" id="link" placeholder="Link"
                                [(ngModel)]="assignmentData.link" name="link" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label for="type">Assignment Type:</label>
                            <select id="type" class="form-control border-0 p-4" [(ngModel)]="assignmentData.type"
                                name="type">
                                <option value="" disabled selected>Choose Assignment Type</option>
                                <option value="QUIZ">Quiz</option>
                                <option value="TEST">Test</option>
                                <option value="REPORT">Report</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>


                        <div class="control-group">
                            <textarea class="form-control border-0 py-3 px-4" rows="5" id="description"
                                placeholder="Description" required="required" [(ngModel)]="assignmentData.description"
                                name="description"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <!-- Afficher les messages d'erreur -->
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit">
                                Create Assignment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>