
<div class="container-fluid py-5">
    <div class="container py-5">
<!-- Publication details -->
<div class="row justify-content-center">
    <div class="col-lg-8">        
        <div class="d-flex align-items-center mb-3">
            <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 60px;">
            <div>
                <h4>{{ publication.user?.name }} <small><i>{{ publication.date | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></h4>
            </div>
        </div>
        <div class="text-left">
            <h1 class="mb-5">{{ publication.title }}</h1>
            <p style="font-size: 20px;">{{ publication.description }}</p>
        </div>
        <nav>
            <a class="btn btn-primary mr-2" [routerLink]="['/publication-modify', publication.uuid]">Edit</a>
        </nav>
    </div>
</div>




<!-- Like feature -->
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="mb-3">
            <p>Like Count: {{ likeCount }}</p>
            <button class="btn btn-primary" [disabled]="isAlreadyLiked" (click)="likePublication(publication.uuid)">
                {{ isAlreadyLiked ? 'Already Liked' : 'Like' }}
            </button>
        </div>
    </div>
</div>

        <!-- Form for adding comments -->
        <div class="bg-secondary rounded p-5 mb-5">
            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
            <form (ngSubmit)="submitComment()" #commentForm="ngForm">
                <div class="form-group">
                   
                    <textarea id="commentContent" name="commentContent" [(ngModel)]="commentContent" cols="30" rows="5" class="form-control border-0" required></textarea>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Add Comment</button>
                </div>
            </form>
        </div>

       
<!-- Comment Section -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Comments</h3>
    <!-- Loop through comments -->
    <div *ngFor="let comment of publication.comments" class="comment-box border p-3 mb-4">
        <!-- Comment -->
        <div class="media">
            <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;"> 
            <div class="media-body">
                <h6>{{ comment.user.name }} <small><i>{{ comment.date | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></h6>
                <p>{{ comment.content }}                     
                    <button type="button" class="btn btn-danger btn-sm delete-button" (click)="confirmDelete(comment.uuid)">X</button>
                </p>
            </div>
        </div>
        
        <!-- Replies for this comment -->
        <div *ngIf="comment.replies.length > 0" class="replies mt-3">
            <div *ngFor="let reply of comment.replies" class="border-top pt-3 mt-3">
                <div class="media">
                    <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>{{ reply.user.name }} <small><i>{{ reply.date | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></h6>
                        <p>{{ reply.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Add reply textarea -->
        <div class="mt-3">
            <textarea class="form-control" placeholder="Add reply" [(ngModel)]="replyContents[comment.uuid]" (keydown.enter)="submitReply(comment.uuid)"></textarea>
        </div>
        
        <!-- End of Comment box -->
    </div>
</div>
